@import "../../../assets/common/styles.scss";

.navigation-bar__root{
    background-color: $side-bar-color;
    height: 80px;
    line-height: 80px;
    // position: fixed;
    // top: 0;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    &-items{
        padding: 0 40px;
        & > h2{
            margin: 0;
            float: left;
            color:  $common-text-color-white;
            font-weight: 600;
        }
        .navigation-bar__root-account{
            margin: 0 0 0 auto;
            display: flex;
            float: right;
            & > h4{
                margin: 0 10px 0 0;
                cursor: pointer;
                color:  $common-text-color-white;
                text-transform: capitalize;
                font-weight: 600;
            }
        }
    }
}