@import "../../assets/common/styles.scss";

.login__root{
    width: 30%;
    // margin: 30px 20px 30px auto;
    border: 1px solid $side-bar-color;
    padding: 10px;
    border-radius: 3px;
    background-color: $common-text-color-white;
    position: absolute;
    left: 35%;
    top: 25%;
    & > h2{
        margin: 0;
        font-weight: 600;
    }
    .login__root--cred{
        font-size: $font-13;
        font-weight: 600;
    }
    & > div{
        display: grid;
        margin: 0 0 10px 0;
        ::placeholder{
            // text-transform: capitalize;
            font-size: $font-13;
        }
        & > label{
            text-align: left;
            text-transform: capitalize;
        }
        & > input, & > select{
            height: 30px;
            line-height: 30px;
            border: 1px solid $side-bar-color;
            background: transparent;
            outline: none;
            text-indent: 10px;
        }
    }
    & > button{
        background-color: $side-bar-color;
        color: $common-text-color-white;
        border: 1px solid $side-bar-color;
        padding: 0 10px;
        height: 30px;
        line-height: 28px;
        cursor: pointer;
        font-size: $font-13;
        font-weight: 600;
    }
    .login__root--error{
        text-align: left;
        display: block;
        color: #ff0000;
        font-size: $font-12;
    }
}

@media (max-width: 600px){
    .login__root{
        width: 90%;
        left: 5%;
    }
}