@import "../../../assets/common/styles.scss";

.data-root{
    .ant-table{
        border: 1px solid $grid-border-color;
        .ant-table-header{
            border-bottom: 1px solid $grid-border-color;
            .ant-table-thead{
                .ant-table-cell{
                    text-transform: capitalize;
                    border-left: 1px solid $grid-border-color;
                    font-weight: 600;
                }
                .ant-table-cell:first-child{
                    border-left: none;
                }
            }
        }
        .ant-table-body{
            .ant-table-tbody{
                & > tr{
                    .ant-table-cell{
                        border-left: 1px solid $grid-border-color;
                        border-bottom: 1px solid $grid-border-color;
                        text-transform: capitalize;
                    }
                    .ant-table-cell:first-child{
                        border-left: none;
                        & > a{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}


/* SCROLL-BAR */

.ant-table-body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  /* Track */
  .ant-table-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px $common-color;
    border-radius: 3px;
  }
  /* Handle */
  .ant-table-body::-webkit-scrollbar-thumb {
    background: $common-color;
    border-radius: 3px;
  }
  /* Handle on hover */
  .ant-table-body::-webkit-scrollbar-thumb:hover {
    background: $common-color;
  }
  /* SCROLL-BAR */
  